@import "tailwindcss";

.blue-btn {
    @apply bg-blue-500 text-white p-2 rounded-md m-3 hover:cursor-pointer
}
.input {
    @apply border-2 border-gray-400 rounded-xl w-1/2 m-4 p-2
}
.bd {
    @apply text-3xl 
}